100 		// number_K_points
15.0		// K_max in units of [1/a0]
0.06085		// device_me in units of [m0]
0.234		// device_mh in units of [m0]
5.0E-10 	// device_dipolmoment in units of [eV]
300.0		// device_background_temp in units of [K]
8.0		// device_length_qw in units of [nm]
3.16227766	// device_focus_E (=1.0 -> No focus)
0.0		// device_effective_qw (=1.0 -> Single QW)
1.0		// device_deph_scale (=1.0 -> 2.0Ebg)
1.405		// device_bandgap in units of [eV]
5.0e14		// device_density in units of [1/m^2]
0.5		// device_occ_relax_time in units of [ps]
0.1		// device_occ_hole_relax_time in units of [ps]
